langchain==0.0.342
transformers==4.38.1
torch==2.1.1
streamlit==1.31.1
huggingface-hub==0.19.4
openai
pdfminer.six
datasets
pypdf
unstructured
faiss-cpu
langchain-community
sentence_transformers
peft
nltk
evaluate
huggingface_hub[cli]